.CardItem {
    display: flex !important;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
    width: 100% !important;
  }

  .mensaje {
    font-family: 'Tilt Prism';
    font-size: 50px;
    color: aliceblue;
  }
  
  .h3 {
    font-family: 'Tilt Prism';
  }
  